---
title: Friends
layout: page
description: "友人帐"
header-img: "img/header/friends.jpg"
---

<p><strong>欢迎交换友链 ꉂ(ˊᗜˋ)</strong></p>

<p>以下排名不分先后</p>

{% for v in site.friends %}
<h5>{{ v.title }}</h5>
<span style="font-size: 14px">{{ v.desc }}</span>
<div class="links">
    <ul class="link-items">
        {% for friend in v.value %}
        <li class="link-item">
            <a href="{{ friend.link }}" title="{{ friend.sitename }}" target="_blank" rel="friend">
                <img class="lazy"
                     data-original="{% if friend.avatar %}{{ friend.avatar }}{% else %}/img/bilibili/22_2.jpg{% endif %}">
                <span class="sitename">{{ friend.sitename }}</span>
                <div class="linkdes">{% if friend.desc %}{{ friend.desc }}{% else %}"这家伙好懒╮(╯▽╰)╭" {% endif %}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}


<h5>关于 友链</h5>
<p>请留言告诉我你的：</br>
    1、名字</br>
    2、一句话介绍（熟人我会亲自帮写的）</br>
    3、主页地址</br>
    4、你那帅气的头像</p>
<p>For Example：</br>
    ★ Name: Ariescat Blog</br>
    ★ Bio: 一只白羊座的傻猫，现在是一只废猫了</br>
    ★ URL: http://ariescat.top</br>
    ★ Avatar: http://ariescat.top/img/about-BY-gentle.jpg</p>

{% include comment.html %}