---
title: Friends
layout: page
description: "友人帐"
header-img: "img/header/friends.jpg"
---

<p><strong>欢迎交换友链 ꉂ(ˊᗜˋ)</strong></p>

<h5>吐血 整理</h5>
<div class="links">
    <ul class="link-items">
        <li class="link-item">
            <a href="/docs/Awesome/" title="Awesome" rel="friend">
                <img class="lazyload" src="/img/about-BY-gentle.jpg">
                <span class="sitename">Awesome</span>
                <div class="linkdes">Java程序员秃头区</div>
            </a>
        </li>
        <li class="link-item">
            <a href="/docs/Reading/" title="Reading" rel="friend">
                <img class="lazyload" src="/img/about-BY-gentle.jpg">
                <span class="sitename">Reading</span>
                <div class="linkdes">读书笔记</div>
            </a>
        </li>
    </ul>
</div>

<!-- Friends Blog -->
{% if site.links %}
<h5>小伙伴 们</h5>
<div class="links">
    <ul class="link-items">
        {% for friend in site.friends %}
        <li class="link-item">
            <a href="{{friend.href}}" title="{{friend.sitename}}" target="_blank" rel="friend">
                <img class="lazyload" src="{% if friend.img %}{{friend.img}}{% else %}/img/box.jpg{% endif %}">
                <span class="sitename">{{friend.sitename}}</span>
                <div class="linkdes">{% if friend.desc %}{{friend.desc}}{% else %}"这家伙好懒╮(╯▽╰)╭" {% endif %}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h5>关于 友链</h5>
<p>请留言告诉我你的：</br>
    1、名字</br>
    2、一句话介绍（熟人我会亲自帮写的）</br>
    3、主页地址</br>
    4、你那帅气的头像</p>
<p>For Example：</br>
    ★ Name: Ariescat Blog</br>
    ★ Bio: 一只白羊座的傻猫，现在是一只废猫了</br>
    ★ URL: http://ariescat.top</br>
    ★ Avatar: http://ariescat.top/img/about-BY-gentle.jpg</p>

{% include comment.html %}